.Bottom {
  display: grid;
  justify-content: space-evenly;
  background-color: rgb(43, 43, 43);
}
.information {
  color: white;
  grid-column: 1;
  grid-row: 1;
}
.policy {
  color: white;
  grid-column: 2;
  grid-row: 1;
}

li {
  list-style: none;
}
