.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-evenly;
}

.navigation {
  display: flex;
}

.header__option {
  font-size: 2vw;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.Lineone {
  color: white;
  text-decoration: none;
}
.Lineone:hover {
  text-decoration: underline;
  color: white;
}
